/* #FFFFFF */
/* background: #FFFFFF; */
/* #ECECEC */
/* border: 1px solid #ECECEC */
/* #212121 */
/* background: #212121; */
/* #2196F3 */
/* background: #2196F3; */
/* #000000 */
/* background: #000000; */
/* #757575 */
/* background: #757575; */
/* #2F303A */
/* background: #2F303A; */
/* #F5F4FA */
/* background: #F5F4FA; */
/* #EEEEEE */
/* background: #EEEEEE */
/* background: #FFFFFF99  */
/* color: rgba(255, 255, 255, 0.6); */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-background-color: #2f303a;
}
body {
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

header {
  border-bottom: 1px solid #ececec;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* logo */

.logo {
  display: block;
  text-decoration: none;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.nav .navigation .logo {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.navigation .word-web {
  color: var(--accent-color);
  padding-top: 25px;
  padding-bottom: 25px;
}
.navigation .word-studio {
  color: #000000;
  padding-top: 25px;
  padding-bottom: 25px;
}
.footer .word-studio {
  color: var(--primary-white-color);
}
.footer .word-web {
  color: var(--accent-color);
}
.logo span {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover span,
.logo:focus span,
.logo:active span {
  color: var(--accent-color);
}

/* site navi */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}
.site-nav .current {
  position: relative;
  color: var(--accent-color);
}
.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;

  background: #2196f3;
  border-radius: 2px;
}
.site-nav a {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav a:hover,
.site-nav a:active,
.site-nav a:focus {
  color: var(--accent-color);
}

.site-contact .header-mail,
.site-contact .header-tel {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}
.site-contact a {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-contact a:hover,
.site-contact a:focus,
.site-contact a:active {
  color: var(--accent-color);
  /* fill: var(--accent-color); */
}

/* section hero */
.hero {
  background-color: var(--footer-background-color);
}

.hero-title {
  /* text-align: center; */
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  color: #ffffff;
}
.hero-button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  /* border-color: var(--accent-color); */
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:focus,
.hero-button:active,
.hero-button:hover {
  color: rgba(255, 255, 255, 0.85);
}

/*section distinction */

.distinction-header {
  margin-top: 0;
  margin-bottom: 10px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: #212121;
}
.distinction-description {
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.03em;
}

/* section occupation */

.occupation-title,
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

/* section our-team */

.our-team {
  background-color: #f5f4fa;
}

.foto,
.occupation-foto,
.work-image {
  display: block;
  /* background-color: darksalmon; */
}
/*  */

.team-member {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.specialization {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #757575;
}

/* fotter */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-background-color);
}
.physical-address {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer-tel,
.footer-mail {
  text-decoration: none;

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.adress .item:not(:last-child) {
  margin-bottom: 9px;
}
.adress a {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress a:hover,
.adress a:focus,
.adress a:active {
  color: var(--accent-color);
}
/* filter */

.filter-bar-button {
  display: inline-block;
  padding: 6px 22px;
  min-width: auto;
  border-radius: 4px;
  border: none;
  text-align: center;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.62;

  background-color: #f5f4fa;
  color: #212121;
  /* border-color: #f5f4fa; */
  border-color: transparent;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-bar-button:focus,
.filter-bar-button:active,
.filter-bar-button:hover {
  color: #ffffff;
  background-color: var(--accent-color);
  /* border-color: var(--accent-color); */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.work-link {
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-link:hover,
.work-link:focus,
.work-link:active {
  color: var(--accent-color);
}

.work-group {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  /* background-color: #2196f3; */
  color: #757575;
}

.title-image {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  /* background-color: aquamarine; */
  color: var(--title-text-color);
}
/* геометрія елементів */

.container {
  display: flex;
  align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hero-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container-footer {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: baseline;
}
.container-footer .logo {
  display: block;
  margin-bottom: 20px;
}

.navigation {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  /* align-items: center; */
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-contact .item-contact:not(:last-child) {
  margin-right: 50px;
}

.site-contact {
  display: flex;
  /* align-items: center; */
  margin-left: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* background-color: cyan; */
}

.section.hero {
  max-width: 1600px;
  min-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  /* background-color: rgba(47, 48, 58, 0.4); */
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img.jpg");
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.filter-bar {
  margin-bottom: 50px;
  display: flex;
}
.distinction {
  display: flex;
  padding-bottom: 0;
}
.distinction.list .item {
  min-width: calc((100% - 90px) / 4);
}

.distinction .item:not(:last-child) {
  margin-right: 30px;
}
.occupation.list {
  display: flex;
}
.column {
  flex-direction: column;
  /* display: block; */
}
.occupation .item {
  position: relative;

  width: calc((100% - 60px) / 3);
  /* width: 370px; */
}
.occupation.list .item:not(:last-child) {
  margin-right: 30px;
}
.our-team.list {
  display: flex;
}

.our-team .item {
  width: calc((100% - 90px) / 4);
  /* width: 270px; */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}
.our-team .item:not(:last-child) {
  margin-right: 30px;
}
.team.wrapper {
  padding-top: 30px;
  /* padding-bottom: 30px; */
  text-align: center;
}

.filter {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  /* background-color: indianred; */
}

.filter-bar .item:not(:last-child) {
  margin-right: 8px;
}

.work {
  display: flex;
  flex-wrap: wrap;
  /* background-color: coral; */
}
.work-wrapper {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.work .item {
  /* width: 370px; */
  width: calc((100% - 60px) / 3);
  /* background-color: rosybrown; */
  margin-right: 30px;
  margin-bottom: 30px;
  /* border-bottom: 1px solid #eeeeee; */
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work .item:hover,
.work .item:active,
.work .item:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.work .item:nth-child(3n) {
  margin-right: 0;
}
.work .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* 
.item-contact .header-mail,
.item-contact .header-tel {
  display: flex;

  align-items: center;
}
.header-mail::before {
  content: "";
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-image: url(../images/envelope.svg);
  background-size: contain;
  background-position: center;
}
.header-tel::before {
  content: "";
  width: 10px;
  height: 16px;
  margin-right: 10px;
  background-image: url(../images/smartphone.svg);
  background-position: center;
  background-size: cover;
}  */

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.icon-wrapper {
  display: flex;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
  min-height: 120px;
  justify-content: center;
  align-items: center;
}

.social-networks {
  display: flex;
  align-items: center;
  padding: 16px 32px 30px 32px;
  justify-content: center;
}

.social-network-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc((100%-30px) / 4);
  height: 44px;
}
.social-network-icon:not(:last-child) {
  margin-right: 10px;
}

.social-networks a {
  display: flex;
  padding: 12px;
  color: #afb1b8;
  transition-property: border-radius, cursor, background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks .footer-icon {
  display: flex;
  padding: 12px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-networks a:hover,
.social-networks a:active,
.social-networks a:focus {
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.social-networks.footer {
  padding: 0;
}

.social-icon {
  fill: currentColor;
}
.clients.list {
  display: flex;
  align-items: center;
}

.client-logo:not(:last-child) {
  margin-right: 30px;
}

.client-logo a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition-property: cursor, background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo a:hover,
.client-logo a:focus,
.client-logo a:active {
  cursor: pointer;
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.logo-icon {
  fill: currentColor;
}

.join-title {
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.join-container {
  display: flex;
  flex-direction: column;
  min-width: 206px;
  margin-left: 70px;
}
.description-title {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  /* height: 70px; */
  padding: 27px 0px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* animation work-list */

.work-container {
  position: relative;
  overflow: hidden;
}
.work-description {
  position: absolute;

  bottom: 100;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work .item:hover .work-description {
  transform: translateY(-100%);
}

/* Beckdrop */
.backdrop {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  padding: 40px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition-property: transform;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;

  width: 30px;
  height: 30px;
  padding: 5px;

  align-items: center;
  justify-content: center;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-white-color);
  cursor: pointer;
  fill: currentColor;
}
.close-icon {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover .close-icon,
.close-button:focus .close-icon,
.close-button:active .close-icon {
  color: var(--accent-color);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .contact-form.modal {
  transform: translate(-50%, -50%) scale(0);
}

.contact-title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.contact-name,
.contact-tel,
.contact-email {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #212121;
}

.contact-coment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.name-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.field {
  min-width: 448px;
  height: 40px;
  padding: 11px 42px;

  background-color: var(--primary-white-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.person-icon,
.tel-icon,
.email-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: currentColor;
}

.changed {
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.field:active,
.field:focus,
.field:hover {
  border-color: var(--accent-color);
}

.field:hover + .changed,
.field:focus + .changed,
.field:active + .changed {
  color: var(--accent-color);
}

.coment-form.field {
  width: 448px;
  min-height: 120px;
  padding: 12px 16px;
  resize: none;
}
.field::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.field:hover.field::placeholder,
.field:focus.field::placeholder,
.field:active.field::placeholder {
  color: var(--accent-color);
}
.contact-agreement {
  margin-bottom: 30px;
}
.agreement-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.agreement.link {
  margin-left: 5px;
  color: var(--accent-color);
}
.wrapper-checkbox-icon {
  display: flex;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;

  color: transparent;
  background-color: #ffffff;
  background-origin: border-box;
  transition-property: border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input {
  width: 16px;
  height: 15px;

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-input:checked + .wrapper-checkbox-icon {
  border-color: transparent;
  background-color: var(--accent-color);
}
.checkbox-icon {
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .wrapper-checkbox-icon .checkbox-icon {
  color: var(--primary-white-color);
}

.contact.button {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact.button:hover,
.contact.button:focus,
.contact.button:active {
  color: rgba(255, 255, 255, 0.85);
}
.subscribe-form {
  margin-left: 93px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.subscription-wrap {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.subscription-input {
  padding: 15px 16px;
  min-width: 358px;
  height: 50px;

  color: var(--primary-white-color);
  background-color: var(--footer-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-input:hover,
.subscription-input:focus,
.subscription-input:active {
  border-color: var(--accent-color);
}
.subscription-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-input:hover.subscription-input::placeholder,
.subscription-input:focus.subscription-input::placeholder,
.subscription-input:active.subscription-input::placeholder {
  color: var(--accent-color);
}

.button {
  min-width: 200px;
  /* height: 50px; */

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;

  cursor: pointer;

  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  /* border-color: var(--accent-color); */

  border: none;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscription-title {
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.subscription.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-white-color);
}
.subscription-icon {
  cursor: pointer;
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sub-span {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription.button:focus .sub-span,
.subscription.button:active .sub-span,
.subscription.button:hover .sub-span,
.subscription.button:hover .subscription-icon,
.subscription.button:focus .subscription-icon,
.subscription.button:active .subscription-icon {
  color: rgba(255, 255, 255, 0.85);
}
